<div id="concepts-hourly">
        <div class="control-group sub-title-form">
            <label class="control-label"> {{ _("Hourly concepts") }}</label>
            <div class="controls"></div>
        </div>

        <div id="concepts-zone">
            <div id="left-checks">
                <div><label   class="checkbox"><input id="805" name="MD" type="checkbox" > {{ _("Day Ahead market - MD") }} </label></div>
                <div><label class="checkbox"><input id="806" name="RPBF" type="checkbox" > {{ _("PBF technical constraints- RPBF") }} </label></div>
                <div><label class="checkbox"><input id="807" name="RTR" type="checkbox" > {{ _("Real time technical constraints - RTR") }}</label></div>
                <div><label class="checkbox"><input id="808" name="MI" type="checkbox" > {{ _("Intraday market - MI") }} </label></div>
                <div><label class="checkbox"><input id="809" name="RI" type="checkbox" > {{ _("Intraday market tech. constraints - RI") }} </label></div>
                <div><label class="checkbox"><input id="810" name="RPAS" type="checkbox" > {{ _("Upward reserve power traders and direct consumers - RPAS") }} </label></div>
                <div><label class="checkbox"><input id="811" name="BS" type="checkbox" > {{ _("Secondary reserve - BS") }} </label></div>
                <div><label class="checkbox"><input id="812" name="DM" type="checkbox" > {{ _("Measured imbalances - DM") }} </label></div>
            </div>
            <div id="right-checks">
                <div><label class="checkbox"><input id="813" name="SD" type="checkbox" > {{ _("Imbalances net value - SD") }} </label></div>
                <div><label class="checkbox"><input id="814" name="CFP" type="checkbox" > {{ _("Power factor control - CFP") }} </label></div>
                <div><label class="checkbox"><input id="815" name="PC" type="checkbox" > {{ _("Capacity payments - PC") }} </label></div>
                <div><label class="checkbox"><input id="816" name="SI" type="checkbox" > {{ _("Interruptibility service - SI") }} </label></div>
                <div><label class="checkbox"><input id="1277" name="SPO" type="checkbox" > {{ _("P.O.14.6 balance - SPO") }} </label></div>
                <div><label class="checkbox"><input id="1286" name="FNUPG" type="checkbox" > {{ _("Generic Units Nom. Failure UPG - FNUPG") }} </label></div>
            </div>
        </div>
        <div id="free-market-link"> {{ _("Concepts and prices published at") }} <a href="https://www.esios.ree.es/es/mercados-y-precios" target="_blank"> Red Eléctrica Española</a></div>
    </div>

