<div id="formula">
        <div class="control-group sub-title-form">
            <label class="control-label">{{ _("The moment has come, Introduce the formula!") }}</label>
            <div class="controls"></div>
        </div>

        <div class="control-group">
                <label class="control-label">{{ _("Formula Hourly Price") }} </label>
                <div class="controls"> <textarea name="formula" id="formula-text" cols="200" rows="10" ></textarea> </div>
        </div>
        <div  class="control-group" style="margin-left: auto; margin-right: auto; width: 22em;font-size: 11px;">
            <p>{{ _("i.e.: 0.5*(MD + SPO + RTR + MI) + v1 - (0.1*v2)") }}</p>
        </div>
    </div>