<div id="interval" style="margin-top: 5px;" hidden>
    <div class="control-group" id="control-tittle">
        <label class="control-label">
        </label>
    </div>

    <div class="control-group" style="display: none;" id="control-date">
        <label class="control-label">{{   _("From") }}</label>
        <div class="controls">
            <input type="text" class="from-rate-datepicker input-small " value="" name="intervalPriceList[0].fromDate" id="" disabled>
        </div>
    </div>

    <div class="control-group" id="control-price">
        <label class="control-label">{{ _("Period") }}</label>
        <label class="energyterm" style="float: left;">{{ _("Term energy (UM/kWh)") }}</label>
    </div>
</div>