<div id="prices-bone" hidden>
    <select id="not-used-prices-bone" class="generic-dropdown">
        {%  for price in prices_dexcell %}
            <option value="{{ price.id }}" data-periods="{{ price.num_of_periods }}" data-ts="{{ price.tariff_structure}}">{{ price.name }}</option>
        {% endfor %}
    </select>
</div>