<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {% if debug==True %}
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style_templates.css')}}" media="screen,projection" />
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection" />
    {% else %}
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style_templates.css')}}" media="screen,projection" />
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection" />
    {% endif %}
    <title></title>
</head>

<body>
    <div id="list-zone">{% include "wsm_list_view.html" %}</div>
    <div id="config-zone" hidden></div>
    <div id="other-concepts-zone" hidden></div>
    <div id="config-price-bone" hidden>{% include "wsm_config_price.html" %}</div>
    <div id="other-concepts-form" hidden>{% include "config_price/concepts_others_form.html"  %}</div>
    <div id="popup-recal-container" hidden>{% include "recalculation/recalculation_form.html"%}</div>
    <div class="spinner1" hidden>
            <img src="{{url_for('static', filename='img/ajax-loader.gif')}}" >
    </div>
    {% include "list_view/row_bone.html" %}
</body>

</html>


<script src="{{url_for('static', filename='js/dexcell/jquery-1.9.0.js')}}"> </script>
<script src="{{url_for('static', filename='js/dexcell/jquery-migrate-1.2.1.js')}}"> </script>
<script src="{{url_for('static', filename='js/dexcell/jquery-ui.min.js')}}"> </script>
{% if debug==True %}
    <script src="{{url_for('static', filename='js/dexcell/modernizr-2.5.3.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/ezmark-radios.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.ui.core.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.numeric.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.datepick.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/date.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/date-es-ES.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.datepicker.js')}}"> </script>

    <script src="{{url_for('static', filename='js/utils/select2.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/jquery.noty.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/default.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/topRight.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/dx-core.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/dx-ui.js')}}"> </script>
    <script src="{{url_for('static', filename='js/wsm/wsm_init.js')}}"> </script>

{% else %}
    <script src="{{url_for('static', filename='js/dexcell/modernizr-2.5.3.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/ezmark-radios.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.ui.core.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.numeric.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.datepick.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/date.js')}}"> </script>
    <script src="{{url_for('static', filename='js/utils/date-es-ES.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/jquery.datepicker.js')}}"> </script>

    <script src="{{url_for('static', filename='js/utils/select2.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/jquery.noty.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/default.js')}}"> </script>
    <script src="{{url_for('static', filename='js/noty/topRight.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/dx-core.js')}}"> </script>
    <script src="{{url_for('static', filename='js/dexcell/dx-ui.js')}}"> </script>
    <script src="{{url_for('static', filename='js/wsm/wsm_init.js')}}"> </script>

{% endif %}

<script>
    var Pdep_id = {{ deployment_id }};
    var num_pages = {{ num_pages }}
    var page_prices = {{ page_prices }}
    $comments_dic = init_comments();
    $json_other_cost = []
    $(document).ready(function (){
        console.log("{{url_for('static', filename='img/select2.png')}}");
        initDXUI();
        load_price_list({{ selected_page }},page_prices)
    });

    function init_comments(){
        var comments_dic = {}
     comments_dic['save'] = "{{ _('Price Saved Correctly') }}"
     comments_dic['saving_comments'] = "{{ _('Saving...') }}"
     comments_dic['recalculate'] = "{{ _('The price will be recalculated, please wait some minutes') }}"
     comments_dic['delete'] = "{{ _('The price has been deleted with success') }}"
     comments_dic['validate_formula_error1'] = "{{ _('You have enable the variable') }}"
     comments_dic['validate_formula_error2'] = "{{ _('and you are not using it') }}"
     comments_dic['validate_formula_error3'] = "{{ _('The formula is incorrect, check it!') }}"
     comments_dic['validate_concept_error'] = "{{ _('You should check one concept') }}"
     comments_dic['validate_price_error'] = "{{ _('Price has a configuration created already') }}"
     comments_dic['button_save_message'] = "{{ _('Ready! I want to use this price') }}"
     comments_dic['empty_fields_error'] = "{{ _('Some of the fields are empty, please check them') }}"
     comments_dic['datepicker_error1'] = "{{ _('The end day must be bigger than the initial day!') }}"
     comments_dic['datepicker_error2'] = "{{ _("Can't calculate prices before 01/01/2014!") }}"
     comments_dic['save_button_message_error'] = "{{_('Try Again')}}"
     comments_dic['recalculate_tab'] = "{{ _('Recalculate') }}"
     return comments_dic
    }
</script>

