<div id="header">
    <div class="title-zone">
        <div class="title-name">{{ _("Spanish indexed electrical market prices configurator") }}</div>
        <div id="subtitle-text">{{ _("With this application you can configure Free market prices contracted with your distributor. Just create a new price,
        select the parameters that appear in the formula in your contract and link them with an existing price on the platform. That easy!") }} </div>
    </div>
</div>

<div class="first-row">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <label id="label-checker" class="checkbox">
                <input id="select-all-prices" onclick="check_all()" type="checkbox" >
            </label>
            <a class="dropdown-toggle checkall" data-toggle="dropdown" href="#"></a>
        </li>
        <li>
            <button class="btn" id="selec-price-new-button" onclick="new_price_config()">{{ _("New") }}</button>
        </li>
        <li id="actions-list" class="dropdown">
            <a  data-toggle="dropdown" class="dropdown-toggle">{{ _("Actions") }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li style="display: list-item;">
                    <a onclick="deleteSelectedConcept()">{{ _("Delete") }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<table id="price" class="table table-bordered tablesorter">
    <thead>
        <tr>
            <th></th>
            <th class="sortable">{{  _("Name") }}</th>
            <th>{{ _("Number of periods") }}</th>
            <th>{{ _("Last importation") }}</th>
            <th>{{ _("Last consolidation") }}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="first-row">
    <div class="pagination">
        <p><strong>{{ total_prices}}</strong> / <strong>{{ page_prices }}</strong> {{ _("from") }} <strong>{{ page_prices }}</strong></p>
        <ul class="nav" data-toggle="buttons-radio" data-tabs="tabs">
            <li id='back-page' class="disabled"><a class="prev"></a></li>
            {% for n in range(num_pages) %}
                {% if n + 1 == selected_page %}
                   <li class="active" name="page_number"> <a onclick="load_page({{ n + 1 }},{{ num_pages }})" href="#" class="first" data-toggle="tab">{{ n + 1 }}</a></li>
                {% else %}
                   <li name="page_number"> <a onclick="load_page({{ n + 1 }},{{ num_pages }})" href="#" class="first" data-toggle="tab">{{ n + 1 }}</a></li>
                {% endif %}
            {%  endfor %}
            {% if num_pages > 1 %}
                <li id="next-page" onclick="next_page()"><a class="next"></a></li>
            {% else %}
                <li id="next-page" class="disabled"><a class="next"></a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div>
    <div style="font-size: 82%;padding-left: 11px;">
        <p>- {{ _('Prices start to be calculated at 19h of the previous day.') }}</p>
        <p>- {{ _('Prices are being consolidated as soon as Red Eléctrica updates its prices..') }}</p>
        <p style="padding-top: 1%">- {{ _("Prices based on the available information in:") }}</p>
        <img src="{{url_for('static', filename='img/red_electrica.png')}}"  style="width:247px;height:68px;">
    </div>

</div>





